body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

.logo {
  height: 3rem;
  margin: 2rem 5rem;
}

#contact_modal {
  display: none;
}

#main .photograph-header {
  background-color: #FAFAFA;
  height: 10rem;
  width: 80%;
  margin: 0 5%;
  padding: 5%;
  visibility: visible;
}

#main .photograph-header .contact_btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .photograph-header .photographer_detail {
  width: 100%;
  height: 100%;
}

#main .photograph-header .photographer_detail .details article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .photograph-header .photographer_detail .photograph_name {
  color: #D3573C;
  font-size: 2rem;
  margin: 0;
}

#main .photograph-header .photographer_detail .city-country {
  color: #901C1C;
  font-size: 1.5rem;
}

#main .photograph-header .photographer_detail .tagline {
  color: #525252;
}

#main .photograph-header .photographer_detail img {
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#main .photograph-header .photographer_detail #fixedPrice {
  display: none;
}

.contact_btn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 1rem 0.5rem;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
}

#modal_cross {
  position: absolute;
  top: 2%;
  right: 22%;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.personnal_galerie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  margin: 0 10%;
}

#article_media {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}

.media_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 20rem;
}

#lightbox {
  background-color: rgba(0, 0, 0, 0.897);
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 0;
}

#lightbox i {
  color: white;
  font-size: 2rem;
}

#lightbox #right {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}

#lightbox #left {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
}

#lightbox #close_onclick {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 1;
}

#lightbox.active {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  visibility: visible;
  z-index: 1;
}

.light_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#filter-div {
  margin: 1rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filter-div #filter {
  padding: 1rem;
}

#divTitleLikes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  padding: 0;
}

#divTitleLikes .title {
  padding: 0;
  color: #901C1C;
  font-weight: bold;
}

#divTitleLikes .likes {
  padding-right: 0;
  padding-left: 0;
  color: #901C1C;
}

#totalLikes {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #DB8876;
  width: 10rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}
/*# sourceMappingURL=photographer.css.map */